.gradient-secondary {
  background-color: #fa8c16;
  background: gradient(linear, left top, right top, from(#fa8c16), to(#242020));
  background: -webkit-linear-gradient(left, #fa8c16, #f5222d);
  background: -moz-linear-gradient(left, #fa8c16, #f5222d);
  background: -ms-linear-gradient(left, #fa8c16, #f5222d);
  background: -o-linear-gradient(left, #fa8c16, #f5222d);
  background: -webkit-linear-gradient(left, #fa8c16, #f5222d);
  color: #fff;

  &:hover {
    background: -webkit-linear-gradient(left, #f5222d, #fa8c16);
    background: -moz-linear-gradient(left, #f5222d, #fa8c16);
    background: -ms-linear-gradient(left, #f5222d, #fa8c16);
    background: -o-linear-gradient(left, #f5222d, #fa8c16);
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#f5222d),
      to(#fa8c16)
    );
  }
}
